<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="processing.test.modsapp_v2"><uses-sdk android:minSdkVersion="9"/><uses-permission android:name="android.permission.NFC"/>  <!--(1)--><application android:icon="@drawable/icon" android:label="MODSAPP_v2"><activity android:name=".MODSAPP_v2"><intent-filter><action android:name="android.nfc.action.TECH_DISCOVERED"/> <!--(2)--></intent-filter><intent-filter><action android:name="android.nfc.action.NDEF_DISCOVERED"/> <!--(3)--></intent-filter><intent-filter><action android:name="android.nfc.action.TAG_DISCOVERED"/>  <!--(4)--><category android:name="android.intent.category.DEFAULT"/></intent-filter></activity>
<activity android:name="Schedule"></activity>
</application></manifest>